{% extends 'blog/base.html' %}

{% block content %}
    <article class="post", style="border-style:solid;border-color:#eca5e3;border-radius: 10px;">
        {% if post.published_date %}
            <time class="date">
				<p>Created: {{ post.created_date }}</p>
                <p>Last Edited: {{ post.published_date }}</p>
            </time>
        {% endif %}
        <h2>{{ post.title }}</h2>
        <p>{{ post.text|linebreaksbr }}</p>
		<p>End Date: <p>
    </article>
	<aside class="actions">
		<a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}", style="float:right">
		    {% include './icons/pencil-fill.svg' %}
		</a>
	</aside>
{% endblock %}